.home-footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 900px;
    justify-content: center;
    align-items: center;
    background-image: url("../../../../images/HomeFooterBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-footer-title {
    color: #F8F8F8;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px; /* 129.167% */
    max-width: 817px;
    max-height: 132px;
    flex-shrink: 0;
}

.home-footer-sub {
    color: #F8F8F8;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.5px; /* 143.75% */
    max-width: 800px;
}

.home-footer-button {
    border-radius: 70px;
    background: #FF236B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selling-amz-image {
    background-image: url("../../../../images/Asset 4b.png");
    background-size: cover;
    width: 500px;
    height: 200px;
    background-repeat: no-repeat;
}