.signup-content-container {
    background-image: url("../../images/sign-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form-container {
    border-radius: 70px;
    background: rgba(248, 248, 248, 0.90);
    width: 60%;
    margin-left: 60px;
    height: 75%;
    display: flex;
}

.signup-image {
    background-image: url("../../images/AdobeStock_374646811 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    border-bottom-right-radius:  70px;
    border-top-right-radius: 70px;
    z-index: 4;
}


#signup-image-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: linear-gradient(180deg, #1A1A2E 0%, #0F3460 100%);
    border-bottom-right-radius:  70px;
    border-top-right-radius: 70px;
    z-index: 5;
}

.signup-form {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.signup-title {
    color: #FF236B;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.signup-input {
    display: flex;
    border-radius: 70px;
    background: #F8F8F8;
    box-shadow: 0px 4px 10px 0px rgba(26, 26, 46, 0.25);
    width: 60%;
    height: 40px;
    align-items: center;
    padding: 0 10px;
    color: #1A1A2E;
}

.signup-input input {
    margin-left: 5px;
    width: 100%;
    border: none;
    background: #F8F8F8;
    outline: none;
    color: #1A1A2E;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.signup-input-placeholder::placeholder {
    margin-left: 5px;
    width: 100%;
    border: none;
    background: #F8F8F8;
    outline: none;
    color: #1A1A2E;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 1;
}

.term-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.term-agreement-text {
    color: #1A1A2E;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.term-agreement-sub-text {
    color: #FF236B;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.signup-button {
    border-radius: 32px;
    background: #FF236B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 240px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tosignin {
    color: #1A1A2E;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.signin-link {
    color: #E01D59;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
