.ecommerce-assessment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 900px;
    background-image: url("../../../../images/EcommerceAssessmentBG.png");
    background-color: rgba(0,0,0,0.25);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 200px;
}

.ecommerce-assessment-title {
    color: #F8F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
}

.red-span {
    color: #E01D59;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px; /* 129.167% */
}

.ecommerce-assessment-sub {
    color: #F8F8F8;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.5px; /* 122.917% */
}

.ecommerce-assessment-sub-2 {
    color: #F8F8F8;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.5px;
}

.ecommerce-assessment-button {
    border-radius: 70px;
    background: #FF236B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 348px;
    height: 70px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.text-button {
    color: #F8F8F8;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 83.333% */
}

.ecommerce-assessment-bg {
    width: 100%;
    height: 900px;
    background-image: url("../../../../images/shutterstock_1613914207 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}