.service-container {
    display: flex;
    max-height: 800px;
    width: 95%;
    justify-content: space-around;
    padding: 30px;
    padding-left: 100px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.one-service-image {
    background-image: url("../../../../images/one-service.png");
    width: 132px;
    height: 123px;
}

.two-service-image {
    background-image: url("../../../../images/two-service.png");
    width: 149.302px;
    height: 123px;
}

.three-service-image {
    background-image: url("../../../../images/three-service.png");
    width: 175.48px;
    height: 123px;
}


.service-title {
    color: #1A1A2E;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.5px; /* 113.235% */
}

.service-sub {
    color: #1A1A2E;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.5px; /* 160.417% */
}