.course-section {
    background-image: url("../../../../images/DashboardBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
}

.course-section-blur {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../../images/stars2.png");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-section-content {
    width: 50%;
    height: 75%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.course-section-title {
    color: #E01D59;
    font-family: Montserrat;
    font-size: 30.4px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.course-section-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../../images/Asset 3@4x 1.png");
    width: 382px;
    height: 337px;
}

.course-section-text {
    color: #F8F8F8;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.course-section-sub-text {
    color: #F8F8F8;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.9%; /* 20.304px */
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.browse-button {
    border-radius: 70px;
    border: 2px solid #E01D59;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 32px;
    width: 180px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    height: 32px;
    width: 180px;
    border-radius: 70px;
    background: #FF236B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-button-text {
    color: #E01D59;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button-text {
    color: #F8F8F8;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    display: flex;
    justify-content: center;
    align-items: center;
}