.outmost-container {
    display: flex;
    width: 100%;
    height: auto;
}

.navbar-container {
    width: 5%;
    height: 100vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
    border-radius: 0px 25px 25px 0px;
    background: linear-gradient(180deg, #0F3460 0%, #1A1A2E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
}

.contents-container-home {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.icon-button:hover {
    background-color: red;
    width: 50px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button:hover .icon-svg .icon-path {
    fill: "green";
}